h2, h3{
    color: blue;
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* 
Trabajaremos con esta
etiquetas{
    color: red;
    font-size: ;
    font-family: ;
} */